.especialization{
	width: 100%;
}
.especialization-banner{
	width: 1200px;
	padding-top: 1px;
	overflow: hidden;
	color: #000;
  font-size: 30px;
	text-align: center;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.especialization-banner p{
	font-size: 15px;
}
.especialization-banner-one{
	width: 1200px;
	height: 200px;
}
@media screen and (max-width: 1200px){
  .especialization-banner{
    width: 100%;
  }
  .especialization-banner-one{
    width: 100%;
    height: 200px;
  }
  .especialization-banner p{
    padding-left: 10%;
    padding-right: 10%;
    line-height: 20px;
    text-align: justify;
  }
}
/*-------slider--------------*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1200px;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 1;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 200px;
  width: 300px;
}
