.recomendaciones{
	width: 100%;
}
.recon{
	width: 1350px;
	overflow: hidden;
	color: #000;
	font-size: 30px;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.face{
	width: 1350px;
	height: 500px;
}
.recomendaciones0{
	width: 100%;
}
.recon0{
	width: 1350px;
	overflow: hidden;
	color: #000;
	font-size: 30px;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.face0{
	width: 1350px;
	height: 500px;
}
.face0one{
	width: 400px;
	height: 450px;
	background-color: white;
	float: left;
	margin: 1.8%;
	-webkit-box-shadow: -1px 3px 15px 2px rgba(0,0,0,0.26);
-moz-box-shadow: -1px 3px 15px 2px rgba(0,0,0,0.26);
box-shadow: -1px 3px 15px 2px rgba(0,0,0,0.26);
}
.face0one h1{
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;

}
.face0one h2{
  font-size: 25px;
  padding-top: 40px;
}
.face0one p{
	font-size: 15px;
	padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  line-height: 25px;
}
.face0 img{
		margin: 5%;
}
@media screen and (max-width: 1200px){
	.recon{
		width: 100%;
	}
	.recon0{
		width: 100%;
	}
	.face0{
		width: 100%;
		height: 300px;
	}
	.face0 img{
		width: 90%;
		height: 200px;
		margin: 5%;
	}
	.face0one{
		width:95%;
		margin: 3%;
	}
	.face0one img{
		width:150px;
		height: 15%;
		margin-top: 10%;
	}
}
/*-------slider----------*/